footer {
    padding-top: 107px;
    padding-bottom: 60px;
    background-color: $primary_lvl_2;
    color: white;
}

.logo-footer {
    width: 176px;
    filter: brightness(0) invert(1);
    margin-bottom: 25px;
}


.footer-col p > img {
    margin-right: 16px;
}
.footer-col p {
    padding-left: 3px;
    margin-bottom: 20px;
}
.footer-col-2, 
.footer-col-3,
.footer-col-4 {
    padding-top: 77px;
    padding-right: 0;
    p {
        margin-bottom: 17px;
    }
}
.footer-col-2 {
    padding-left: 120px;    
}
.footer-col-3 {
    padding-left: 70px;
}

.footer-col-4 {
    padding-left: 20px;
    padding-top: 79px;
    svg {
        margin-right: 7px;
    }
}


svg #fb-path8347 {
    fill: white;
}
svg #twitter-path9292 {
    fill: white;
}
svg #insta-path9287 {
    fill: white;
}