.section-2 {
    position: relative;
    margin-top: 160px;    
}
.curve {  
    img {
        width: 100%;
    }
}
.content-s2 {
    background-color: $neutral_lvl_1;
    padding-bottom: 116px;
}
.s2-img-wrapper {
    padding-top: 80px;
    padding-right: 56px;
    padding-left: 56px;
    margin-bottom: 175px;
}
.content-s2 h2 {
    font-size: 32px;
    // text-align: center;
    letter-spacing: 0.008em;
    // margin-bottom: 46px;
}
.content-s2 p {
    // font-size: 28px;
    text-align: left;
    padding-left: 28px;
    // padding-right: 38px;
    // line-height: 43px;
    margin-bottom: 28px;
}

.fylo-link {
    margin: 70px auto 90px auto;
    display: block;
    text-align: center;
    a {
        border-bottom: 2px solid $accent_sec; 
        padding-bottom: 12px;
        padding-left: 5px;
        font-size: 24px;
        letter-spacing: -0.002em;
        img {
            width: 32px;
            margin-left: 8px;
        }
    }
}
@media screen and (max-width: 576px) {
    .content-s2 p {
        text-align: center;
    }
    .s2-img-wrapper {
        padding-top: 60px;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 150px;
    }
}
@media screen and (min-width: 992px) { 
    .content-s2 {
        padding-top: 60px;
        padding-left: 80px;
        padding-bottom: 0px;
    }
    .content-s2 h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .content-s2 p {
        padding-left: 0;
        font-size: 16px;
        padding-right: 140px;
        margin-bottom: 15px;
    }
    .fylo-link {
        margin: 0px auto 50px auto;
        text-align: left;
        a {
            border-bottom: 1px solid $accent_sec; 
            padding-bottom: 6px;
            padding-left: 0px;
            font-size: 16px;
            img {
                width: 16px;
                margin-left: 4px;
            }
        }
    }
    .s2-img-wrapper {
        padding-top: 30px;
        padding-right: 80px;
        padding-left: 60px;
        margin-bottom: 173px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .content-s2 h2 {
        padding-left: 28px;
    }
}