.section-3 {
    background-color: $primary_lvl_1;
    padding-top: 110px;
    padding-bottom: 120px;
    color: white;
    h2 {
        font-size: 36px;
        letter-spacing: 0.005em;
        font-weight: 700;
        margin-bottom: 34px;
        padding-right: 12px;
        color: white;
    }
    p {
        font-size: 28px;
        line-height: 42px;
        width: 575px;
        // margin: 0 auto;
        margin: 0 0 0 25px;
        padding: 0;
        // padding-left: 46px;        
        // padding-right: 40px;
        letter-spacing: 0.0001em;
        // letter-spacing: -0.5px;
        text-align: center;
    }
    
}
.form-2-wrapper {
    margin-top: 45px;
    // padding-left: 92px;
    padding: 0 100px 0 90px;
}
.form-2 {
    // margin-top: 46px; 
    // padding-left: 35px;   
    // padding-right: 25px;   
    input {
        // width: 480px;
        padding: 31px 20px 31px 16px;
        border-radius: 3px;
        font-size: 18px;
        letter-spacing: 0.055em;
        margin-bottom: 16px;
    }
}
// .button-wrapper {
//     padding: 0 100px;
// }

.get-started-2 {
    // max-width: 480px;
    height: 47px;
}
.fylo-btn-2 {
    font-size: 20px;
    // max-width: 480px;
}

@media screen and (min-width: 768px) {
    .section-3 h2 {
        text-align: center;
    }
    .section-3 p {
        width: unset;
    }
    // .fylo-btn-2 {
    //     font-size: 14px;
    // }
}
@media screen and (min-width: 992px) {
    .section-3 {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 105px;
        padding-bottom: 82px;
    }
    .section-3 h2 {
        text-align: left;
        font-size: 32px;
        // font-weight: 700;
        margin-bottom: 18px;
    }
    .section-3 p {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        padding-right: 100px;
        letter-spacing: 0.03em;
    }
    .form-2-wrapper {
        margin-top: 0px;
        // padding-left: 92px;
        padding: 5px 0px 0 0px;
    }
   
    .form-2 {
        // margin-top: 46px; 
        padding-left: 0px;   
        input {
            height: 48px;
            width: 480px;
            padding: 21px 20px 24px 20px;
            border-radius: 3px;
            font-size: 12px;
            letter-spacing: 0.06em;
            margin-bottom: 16px;
        }
    }    
    .fylo-btn-2 {
        font-size: 14px;
    }
}
@media screen and (min-width: 1400px) {
    .form-2 {
        padding-left: 120px;
    }
}
@media screen and (max-width: 620px) {
    .section-3 p {
        width: unset;
        margin-left: 0;
    }
    .form-2-wrapper {
        padding: 0;
    }
}
