// h2 {
//     font-size: 24px;    
//     font-family: $ffamily_primary;
//     font-weight: 700;
//     letter-spacing: 0.2px;
// }
// a, div, p, header, footer {
//     font-family: $ffamily_primary;
//     color: var(--text-secondary);
// }
h1, h2 {
    font-family: 'Raleway';
    color: $primary_lvl_2;    
}
body {
    // font-family: $ffamily_primary, sans-serif;
    color: $primary_lvl_2;
}
p {
    line-height: 1.3;    
}